bin/Debug/net6.0/AdventOfCode.dll
bin/Debug/net6.0/AdventOfCode.pdb
bin/Debug/net6.0/ref/AdventOfCode.dll
obj/Debug/net6.0/AdventOfCode.dll
obj/Debug/net6.0/AdventOfCode.pdb
obj/Debug/net6.0/ref/AdventOfCode.dll
